@media only screen and (min-width: 768px){
body{
  height:95vh;
  background-image: url('assets/bg-image.jpg');
 
  font-family: 'Times New Roman', Times, serif;
  margin: 0% 10% 0% 10%;
}
html,body{
  overflow: hidden;
}

.left-circles{
float: right;
margin-right: 15rem;

}

#outer-dropzone {
    height: 18rem;
    width: 18rem;
    background: transparent;
    border-radius: 50%;
    margin-top: 5rem;
    z-index: -1000;
  }
  
  #inner-dropzone {
    height: 15rem;
    width: 15rem;
    background: transparent;
    border-radius: 50%;
    border-image: url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    -moz-border-image:url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    -webkit-border-image:url('assets/border-image.png') 185 40 / 110px 30px / 10px;
    -o-border-image:url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    /* margin: 10px auto 30px auto; */
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
  }
  .outer-zone{
    height: 80vh;
  }
  
  
  .drag-drop {
    display: table;
    /* min-width: 80px; */
    padding:1.2em 0em 2em 0.5em;
    color: #fff;
    background-repeat:no-repeat;
    
    border-radius: 50%;
    touch-action: none;
    transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
    height: 70px;
    width: 70px;
    /* word-break:break-all; */

}
  }
  .drag-items{
    display: block;
    height: 80%;

  }

  .btn{
    background-color: transparent !important;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 10px !important;
    width: 10rem;
    margin-top:1rem
  }
  .btn:hover{
    background-color: #462344 !important;
  }

  .r2d2 {
    position: absolute;
    width: 128px;
    height: 160px;
}

audio{
  display: none;
}


/* select{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  width: 250px;
  padding: 10px; 
  background:#3E2140; 
  border:1px solid #fff;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

select::after{
 color: red;
}
*/
select option{
  background-color: #3E2140;
} 
.selectWrapper {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 10px;
  background:transparent url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.selectWrapper select {
      padding: 12px 40px 12px 20px;
      font-size: 18px;
      line-height: 25px;
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      color: white;
  }
  #play_all:hover{
    opacity: 0.7;
  }
  #play_img:hover{
    opacity: 0.7;
  }
  #pause_img:hover{
    opacity: 0.7;
  }
  #reset_all:hover{
    opacity: 0.7;
  }


@media only screen and (max-width: 767px){

  body{
    /* height:95vh; */
    background-image: url('assets/bg-image-mob.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* font-family: 'Times New Roman', Times, serif;
    margin: 0% 1% 0% 1%; */
    line-height: 0.5 !important;
  }
  html, body {
     /* overflow-y:hidden;  */
     overflow-x: hidden;
  }
  .right-circles, .left-circles{
    padding-left: 3rem !important;
  }

  .drag-drop {
    display: table-cell;
    min-width: 100px;
    padding: 1.2em 3em 2em 0.5em !important;
    color: #fff;
    background-repeat:no-repeat;
    
    border-radius: 50%;
    touch-action: none;
    transform: translate(0px, 0px);
    line-height: 1 !important;
    transition: background-color 0.3s;
  }
  #inner-dropzone {
    height: 12rem;
    width: 12rem;
    background: transparent;
    border-radius: 50%;
    border-image: url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    -moz-border-image:url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    -webkit-border-image:url('assets/border-image.png') 185 40 / 90px 30px / 10px;
    -o-border-image:url('assets/border-image.png') 200 40 / 150px 30px / 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    /* margin: 10px auto 30px auto; */
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
  }
  .outer-zone{
    height: 80vh;
  }
  
  
  .drag-drop {
    display: table-cell;
    /* min-width: 90px; */
    padding:1.2em 0em 2em 0.5em;
    color: #fff;
    background-repeat:no-repeat;
    
    border-radius: 50%;
    touch-action: none;
    transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
    height: 70px;
    width: 70px;
  }
  .drag-items{
    display: block;
    height: 65vh;

  }
  .btn-div{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn{
    background-color: transparent !important;
    padding: 0.5rem !important;
    font-size: 1.1rem !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 10px !important;
    width: 10rem;
    margin-top:1rem
  }
  .btn:hover{
    background-color: #462344 !important;
  }

  .r2d2 {
    position: absolute;
    width: 128px;
    height: 160px;
}

audio{
  display: none;
}


/* select{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  width: 250px;
  padding: 10px; 
  background:#3E2140; 
  border:1px solid #fff;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

select::after{
 color: red;
} */

select option{
  background-color: #3E2140;
}
.selectWrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 10px;
  background:transparent url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.selectWrapper select {
      padding: 12px 40px 12px 20px;
      font-size: 18px;
      line-height: 25px;
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      color: white;
  }

}
